In [1]:
from automagica import *

In [2]:
import pandas as pd

In [3]:
a = pd.read_excel(r'C:\Users\praseena.s\Desktop\Project.xlsx')

In [4]:
a

,Project Code,Project Name,Business Unit,Contract Type,Start Date,End Date,Customer,Billed Effort,Effort Unit,Billed Effort Days,...,Revised Project Size (PDs),Project Manager,Delivery Manager,Invoice Status,Financial Milestone,Financial milestones note,PM Comments,DM Comments,Submitted On,Approved On
0,4RFPDE01,4RF - Product development,PES,T & M,2019-05-20,2020-03-31,4RF Limited (4RF) | HMIN | 000314_36,162.00,Days,162.00,...,600,ravinagakumar.k,nazim.khan,DM Approved,NaN,NaN,Customer approved email attached,Approved,2020-02-03,2020-02-03
1,ACEDIO01,Acces IO - M2 DIO and COM Card,PES,Fixed Price,2019-08-12,2020-04-03,Acces IO Products Inc (ACE) | HMUS | 000134_36,20.80,Days,20.80,...,264,ajay.menon,Babu.KC,DM Approved,1.0,Testing of M.2-ICM-232-4 and M.2-ICM-4S protot...,Customer has approved this milestone,Approved,2020-01-31,2020-02-03
2,AIRDIG01,Airport Authority - Digital Sky - PES,PES,Fixed Price,2019-07-01,2024-07-31,Airports Authority of India (AAI) | HMIN | 000...,634.07,Days,634.07,...,6305,srinivasmurthy.k,rajesh.ranjan,Saved as draft,NaN,NaN,NaN,NaN,NaT,NaT
3,CFNAPL01,Apcela - Portal,PES,T & M,2017-06-21,2020-06-30,CFN Services Incorporated doing business as Ap...,569.64,Hours,65.10,...,3501,dinesh.bhatta,ramachandran.s,DM Approved,NaN,NaN,Invoice for January-2020,Approving Invoice,2020-01-24,2020-01-31
4,ARRCOM01,Arris - Commscope Platform,PES,T & M,2020-01-07,2020-08-31,ARRIS GROUP INDIA PRIVATE LIMITED (ARR) | HMIN...,7.50,Days,7.50,...,160,dinesh.bhatta,nitin.kataria,Saved as draft,NaN,NaN,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,JWSWAS01,Wiley- WAS - WPNG,PES,T & M,2019-01-01,2020-12-31,John Wiley and Sons Inc (JWS) | HMUS | 000212_36,249.00,Days,249.00,...,2200,VIJAYA.YOGANNA,GAUTAM.SABBA,DM Approved,NaN,NaN,"Invoice, Jan 2020",A,2020-02-10,2020-02-10
100,JWSBDA01,Wiley-BigDataEngineeringOffshore,PES,T & M,2018-12-10,2020-12-31,John Wiley and Sons Inc (JWS) | HMUS | 000212_36,0.00,Days,0.00,...,375,kalpana.dutt,VIJAYA.YOGANNA,Not Submitted,NaN,NaN,NaN,NaN,NaT,NaT
101,JWSDMT01,WIley-DataManagement,PES,T & M,2018-12-10,2020-12-31,John Wiley and Sons Inc (JWS) | HMUS | 000212_36,127.00,Days,127.00,...,2025,kalpana.dutt,VIJAYA.YOGANNA,DM Approved,NaN,NaN,Invoice submitted,Approved,2020-01-29,2020-02-10
102,WRKIOS01,Workboard_Mobile_App,PES,T & M,2014-03-26,2020-12-31,Workboard Inc (WRK) | HMUS | 000044_36,66.00,Days,66.00,...,1029,Vadivel.Murugan,Parandhama Reddy,DM Approved,NaN,NaN,This invoicing is outside smiles as its a fort...,Approved $13965.0,2020-01-31,2020-02-03
103,WRKSER01,Workboard_Server_Side,PES,T & M,2013-11-25,2020-12-31,Workboard Inc (WRK) | HMUS | 000044_36,620.00,Days,620.00,...,6624,Vadivel.Murugan,Parandhama Reddy,DM Approved,NaN,NaN,This invoicing is outside smiles as its a fort...,Approved $72982.82\t,2020-01-31,2020-02-03

In [5]:
c=pd.read_excel(r"C:\Users\praseena.s\Desktop\Reportfinal.xls")

In [6]:
c

Empty DataFrame
Columns: [Contract Type, Account name, Project Name, Project Manager, Delivery Manager, BDM, Jan-2020 - USD, PM Submitted Date, DM Approved Date, Finance Generated Date, BDM Submitted Date]
Index: []

In [7]:
result = pd.concat([a,c], ignore_index=True, sort=False, join = 'inner')

In [8]:
result

,Project Name,Contract Type,Project Manager,Delivery Manager
0,4RF - Product development,T & M,ravinagakumar.k,nazim.khan
1,Acces IO - M2 DIO and COM Card,Fixed Price,ajay.menon,Babu.KC
2,Airport Authority - Digital Sky - PES,Fixed Price,srinivasmurthy.k,rajesh.ranjan
3,Apcela - Portal,T & M,dinesh.bhatta,ramachandran.s
4,Arris - Commscope Platform,T & M,dinesh.bhatta,nitin.kataria
...,...,...,...,...
99,Wiley- WAS - WPNG,T & M,VIJAYA.YOGANNA,GAUTAM.SABBA
100,Wiley-BigDataEngineeringOffshore,T & M,kalpana.dutt,VIJAYA.YOGANNA
101,WIley-DataManagement,T & M,kalpana.dutt,VIJAYA.YOGANNA
102,Workboard_Mobile_App,T & M,Vadivel.Murugan,Parandhama Reddy
103,Workboard_Server_Side,T & M,Vadivel.Murugan,Parandhama Reddy

In [15]:
c=c.append(result)

In [16]:
c

,Contract Type,Account name,Project Name,Project Manager,Delivery Manager,BDM,Jan-2020 - USD,PM Submitted Date,DM Approved Date,Finance Generated Date,BDM Submitted Date
0,T & M,NaN,4RF - Product development,ravinagakumar.k,nazim.khan,NaN,NaN,NaN,NaN,NaN,NaN
1,Fixed Price,NaN,Acces IO - M2 DIO and COM Card,ajay.menon,Babu.KC,NaN,NaN,NaN,NaN,NaN,NaN
2,Fixed Price,NaN,Airport Authority - Digital Sky - PES,srinivasmurthy.k,rajesh.ranjan,NaN,NaN,NaN,NaN,NaN,NaN
3,T & M,NaN,Apcela - Portal,dinesh.bhatta,ramachandran.s,NaN,NaN,NaN,NaN,NaN,NaN
4,T & M,NaN,Arris - Commscope Platform,dinesh.bhatta,nitin.kataria,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99,T & M,NaN,Wiley- WAS - WPNG,VIJAYA.YOGANNA,GAUTAM.SABBA,NaN,NaN,NaN,NaN,NaN,NaN
100,T & M,NaN,Wiley-BigDataEngineeringOffshore,kalpana.dutt,VIJAYA.YOGANNA,NaN,NaN,NaN,NaN,NaN,NaN
101,T & M,NaN,WIley-DataManagement,kalpana.dutt,VIJAYA.YOGANNA,NaN,NaN,NaN,NaN,NaN,NaN
102,T & M,NaN,Workboard_Mobile_App,Vadivel.Murugan,Parandhama Reddy,NaN,NaN,NaN,NaN,NaN,NaN
103,T & M,NaN,Workboard_Server_Side,Vadivel.Murugan,Parandhama Reddy,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
c.to_excel(r'C:/Users/praseena.s/Desktop/Reportfinal.xls')